################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seção 04/01_Fim/MimicAPI/MimicAPI/bin/Debug/netcoreapp2.2
/Seção 04/01_Fim/MimicAPI/MimicAPI/obj/Debug/netcoreapp2.2
/Seção 05/01_Fim/MinhasTarefasAPI/MinhasTarefasAPI/bin/Debug/netcoreapp2.2
/Seção 05/01_Fim/MinhasTarefasAPI/MinhasTarefasAPI/obj/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToApi/bin/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToApi/obj
/Seção 06/01_Fim/TalkToApi/.vs/TalkToApi/v16/.suo
/Seção 06/01_Fim/TalkToApi/TalkToWeb/bin/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToWeb/obj/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToWeb/obj
/Seção 07/01-MimicAPI/MimicAPI/.vs/MimicAPI/v16
/Seção 07/01-MimicAPI/MimicAPI/.vs/MimicAPI/DesignTimeBuild
/Seção 07/01-MimicAPI/MimicAPI/MimicAPI/bin/Debug/netcoreapp2.2
/Seção 07/01-MimicAPI/MimicAPI/MimicAPI/obj
/Seção 07/02-MinhasTarefasAPI/MinhasTarefasAPI/.vs/MinhasTarefasAPI/DesignTimeBuild
/Seção 07/02-MinhasTarefasAPI/MinhasTarefasAPI/.vs/MinhasTarefasAPI/v16
/Seção 07/02-MinhasTarefasAPI/MinhasTarefasAPI/MinhasTarefasAPI/bin/Debug/netcoreapp2.2
/Seção 07/02-MinhasTarefasAPI/MinhasTarefasAPI/MinhasTarefasAPI/obj
/Seção 07/03_TalkToAPI/TalkToApi/.vs/TalkToApi/DesignTimeBuild
/Seção 07/03_TalkToAPI/TalkToApi/.vs/TalkToApi/v16
/Seção 07/03_TalkToAPI/TalkToApi/TalkToApi/bin/Debug/netcoreapp2.2
/Seção 07/03_TalkToAPI/TalkToApi/TalkToApi/obj
/Seção 07/03_TalkToAPI/TalkToApi/TalkToWeb/bin/Debug/netcoreapp2.2
/Seção 07/03_TalkToAPI/TalkToApi/TalkToWeb/obj/Debug/netcoreapp2.2
/Seção 07/03_TalkToAPI/TalkToApi/TalkToWeb/obj
