################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Seção 04/01_Fim/MimicAPI/MimicAPI/bin/Debug/netcoreapp2.2
/Seção 04/01_Fim/MimicAPI/MimicAPI/obj/Debug/netcoreapp2.2
/Seção 05/01_Fim/MinhasTarefasAPI/MinhasTarefasAPI/bin/Debug/netcoreapp2.2
/Seção 05/01_Fim/MinhasTarefasAPI/MinhasTarefasAPI/obj/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToApi/bin/Debug/netcoreapp2.2
/Seção 06/01_Fim/TalkToApi/TalkToApi/obj
/Seção 06/01_Fim/TalkToApi/.vs/TalkToApi/v16/.suo
